.user-info {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  color: #001514;
}

.user-info img {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
