.settings-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.col-md-6 {
  flex: 0 0 48%;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-svg {
  max-width: 100%;
  height: auto;
}
